@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/hamlindigo';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));
@utility container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
}
